<p id="notice"><%= notice %></p>

<p>
  <strong>Tsl key:</strong>
  <%= @alumni.tsl_key %>
</p>

<p>
  <strong>First name:</strong>
  <%= @alumni.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @alumni.last_name %>
</p>

<%= link_to 'Edit', edit_alumni_path(@alumni) %> |
<%= link_to 'Back', alumnis_path %>
